<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21917572685-kj49og48hm1pd21ehgnhl3gvasgmhtu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21917572685-kj49og48hm1pd21ehgnhl3gvasgmhtu3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>21917572685-6rua0p8s27k3hjepadkgk004mtd8b9rd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDVGqNsb8PPeoEwSJGMuZcrWav6CcoQJlY</string>
	<key>GCM_SENDER_ID</key>
	<string>21917572685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plxntask</string>
	<key>PROJECT_ID</key>
	<string>plxntask-759a1</string>
	<key>STORAGE_BUCKET</key>
	<string>plxntask-759a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21917572685:ios:732a8be60c03bbbf154604</string>
	<key>DATABASE_URL</key>
	<string>https://plxntask-759a1-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>